body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  
        background-image: url('/images/fondoprueba3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 45px;
}

h1{
    background-color: navy;
    border-top:25px solid navy;
    border-bottom:25px solid navy;
    color: #fff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6{
  color: #6f6f71;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#antiguo{
    width: 500px;
    background: linear-gradient(90deg, rgba(176,176,176,1) 20%, rgba(226,226,226,1) 50%, rgba(176,176,176,1) 80%);
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 5px 10px #000;
}

form .botons{
  width: 100%;
  background: #05174f;
  border: none;
  padding: 12px;
  color: #fff;
  margin: 16px 0;
  font-size: 16px;
}

.controls {
  width: 100%;
   background: #fafafa;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid #000;
   font-family: 'calibri';
   font-size: 18px;
}

textarea{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #fafafa;
  font-family: 'calibri';
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.terminos{
  width: 100%;
  font-family: 'calibri';
  padding: 10px;
  box-sizing: border-box;
}


/* Estilos espec铆ficos para dispositivos m贸viles */
@media (max-width: 767px) {
  /* Cambios en el ancho, el margen y la fuente para dispositivos m贸viles */
  form {
    width:auto;
    margin: 10px;
    font-size: 16px;
  }
}

  .footer-main .block li a {
    text-decoration: none;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #3f3f43;
    color: #fff;
    text-align: center;
    line-height: 38px;
}


.footer-main .block-2 h6{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}
.footer-main .block-2 ul {
    padding: 0;
  }
  .footer-main .block-2 ul li {
    margin-bottom: 10px;
    list-style: none;
  }
.footer-main .block-2 ul li a {
  font-size: 14px;
  color: white;
  transition: 0.2s ease;
}
  .footer-main .block-2 ul li a:hover {
    color: #fff;
  }

  .footer-classic {
    background: #fafafa;
    text-align: center;
    padding: 110px 0;
  }
  .footer-classic ul.social-icons {
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    .footer-classic ul.social-icons li {
      margin-bottom: 10px;
    }
  }
  .footer-classic ul.social-icons li a {
    padding: 0 20px;
    display: block;
  }
  .footer-classic ul.social-icons li a i {
    font-size: 25px;
    color: #000;
  }
  .footer-classic li a {
    padding: 0 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
  }

.footer-main {
  padding: 92px 0;
  background:black;
/*  background-image: url('/images/piedepagina.png');
  background-size: cover;  Para ajustar la imagen al tama09o del contenedor 
  background-repeat: no-repeat;  Para evitar que la imagen se repita */
}
