
  .main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
  }

    .body-wrapper {
        background-image: url('/images/fondoprueba3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

  h1{
      background-color: navy;
      border-top:25px solid navy;
      border-bottom:25px solid navy;
      color: #fff;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p{
      color: #6f6f71;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-left: 10%;
      margin-right: 10%;
    }

  .footer-main .block  li a {
      text-decoration: none;
      display: block;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      background: #3f3f43;
      color: #fff;
      text-align: center;
      line-height: 38px;
  }

  @media (max-width: 768px) {
      .footer-main .block {
        margin-bottom: 40px;
      }
  }

  .footer-main .block-2 h6{
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 25px;
  }
  .footer-main .block-2 ul {
      padding: 0;
    }
    .footer-main .block-2 ul li {
      margin-bottom: 10px;
      list-style: none;
    }
.footer-main .block-2 ul li a {
  font-size: 14px;
  color: white;
  transition: 0.2s ease;
}
    .footer-main .block-2 ul li a:hover {
      color: #fff;
    }

    .footer-classic {
      background: #fafafa;
      text-align: center;
      padding: 110px 0;
    }
    .footer-classic ul.social-icons {
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      .footer-classic ul.social-icons li {
        margin-bottom: 10px;
      }
    }
    .footer-classic ul.social-icons li a {
      padding: 0 20px;
      display: block;
    }
    .footer-classic ul.social-icons li a i {
      font-size: 25px;
      color: #000;
    }
    .footer-classic  li a {
      padding: 0 10px;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      color: #000;
    }

.footer-main {
  padding: 92px 0;
  background:black;
/*  background-image: url('/images/piedepagina.png');
  background-size: cover;  Para ajustar la imagen al tamaño del contenedor 
  background-repeat: no-repeat;  Para evitar que la imagen se repita */
}
