.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
  }



.frorm-box{
 width: 500px;
 height: auto;
 position: relative;
 margin: 6% auto;
 background: linear-gradient(90deg, rgba(176,176,176,1) 20%, rgba(226,226,226,1) 50%, rgba(176,176,176,1) 80%);
 border-radius: 18px;
}


#registrarme{
  text-align: center;
}

#botonalerta {
    margin: 1px 0;
border-left: 0;
border-top: 0;
border-right: 0;
border-bottom: 2px solid  #242f3a;
background:transparent;
margin-top:10px;
margin-bottom:10px;
}


.buton-edit{
  cursor: pointer;
  background: solid;
  border-radius: 10px;
  border-color: #8a8a8a;
  font-weight:600;
  padding:8px 10px 8px 10px;
}

.buton-edit.active,
.buton-edit:hover {
  background: linear-gradient(90deg, #242f3a, #5c6c6c);
  color: white;
}

@media (max-width: 767px) {
  .col-12 .text-center input[type="button"] {
    margin-top: 10px; /* Puedes ajustar el valor del margen según tus necesidades */
  }
}


@media (max-width: 767px) {
    .frorm-box {
      width:auto;
    }
  }

.submit-btn{
width: 75%;
padding: 18px 30px;
border-radius: 10px;
border: none;
background: linear-gradient(90deg, #242f3a, #5c6c6c);
color:white;
font-size:600;
}


.footer-main .block ul.social-icon li a {
    text-decoration: none;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 38px;
}

@media (max-width: 768px) {
    .footer-main .block {
      margin-bottom: 40px;
    }
}

.footer-main .block-2 h6{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}
.footer-main .block-2 ul {
    padding: 0;
  }
  .footer-main .block-2 ul li {
    margin-bottom: 10px;
    list-style: none;
  }
  .footer-main .block-2 ul li a {
    font-size: 14px;
    color: #6f6f71;
    transition: 0.2s ease;
  }
  .footer-main .block-2 ul li a:hover {
    color: #fff;
  }

  .footer-classic {
    background: #fafafa;
    text-align: center;
    padding: 110px 0;
  }
  .footer-classic ul.social-icons {
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    .footer-classic ul.social-icons li {
      margin-bottom: 10px;
    }
  }
  .footer-classic ul.social-icons li a {
    padding: 0 20px;
    display: block;
  }
  .footer-classic ul.social-icons li a i {
    font-size: 25px;
    color: #000;
  }
  .footer-classic ul.footer-links li a {
    padding: 0 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
  }

.footer-main {
    padding: 92px 0;
    background: #1a1b1f;
}