.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
  }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}



.footer-main .block li a {
    text-decoration: none;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 38px;
}

@media (max-width: 768px) {
    .footer-main .block {
      margin-bottom: 40px;
    }
}

.footer-main .block-2 h6{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}
.footer-main .block-2 ul {
    padding: 0;
  }
  .footer-main .block-2 ul li {
    margin-bottom: 10px;
    list-style: none;
  }
  .footer-main .block-2 ul li a {
    font-size: 14px;
    color: white;
    transition: 0.2s ease;
  }
  .footer-main .block-2 ul li a:hover {
    color: #fff;
  }

  .footer-classic {
    background: #fafafa;
    text-align: center;
    padding: 110px 0;
  }
  .footer-classic ul.social-icons {
    margin-bottom: 30px;
  }
  @media (max-width: 480px) {
    .footer-classic ul.social-icons li {
      margin-bottom: 10px;
    }
  }
  .footer-classic ul.social-icons li a {
    padding: 0 20px;
    display: block;
  }
  .footer-classic ul.social-icons li a i {
    font-size: 25px;
    color: #000;
  }
  .footer-classic li a {
    padding: 0 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
  }

.footer-main {
  padding: 92px 0;
  background-image: url('images/piedepagina.png');
  background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* Para evitar que la imagen se repita */
}
